### Analyze "All Names" data that has been parsed into `Top-1000-Names.xlsx`

In [31]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None

In [2]:
males = pd.read_excel('Top-1000-Names.xlsx', sheet_name='Males', index_col=0)
males.index = males.index + 1  # index=rank

females = pd.read_excel('Top-1000-Names.xlsx', sheet_name='Females', index_col=0)
females.index = females.index + 1 # index=rank

In [7]:
# Number of unique names in the top 1000, males and females
unique_males = set(males.to_numpy().flatten())
unique_males = sorted(unique_males)
unique_females = set(females.to_numpy().flatten())
unique_females = sorted(unique_females)

print(f'Number of Unique Names in the top 1000, Male: {len(unique_males)}')
print(f'Number of Unique Names in the top 1000, Female: {len(unique_females)}')

Number of Unique Names in the top 1000, Male: 3728
Number of Unique Names in the top 1000, Female: 4413

In [82]:
rank_males = pd.DataFrame([], index=unique_males, columns=males.columns.values)
# rank_males = dict.fromkeys(unique_males)

In [79]:
year = '1985'
name = 'Nolan'
males.index[males[year] == name].tolist()[0]

379

In [87]:
rank_males['2023']['Aaban']

nan

In [99]:
rank_males = pd.DataFrame([], index=unique_males, columns=males.columns.values)
for year in males.columns.values:
    for name in unique_males:
        if name in males[year].values:
            rank_males[year][name] = males.index[males[year] == name].tolist()[0]
        else:
            continue

In [107]:
rank_males[rank_males.index == 'Nolan']

,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975,1974,1973,1972,1971,1970,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960,1959,1958,1957,1956,1955,1954,1953,1952,1951,1950,1949,1948,1947,1946,1945,1944,1943,1942,1941,1940,1939,1938,1937,1936,1935,1934,1933,1932,1931,1930,1929,1928,1927,1926,1925,1924,1923,1922,1921,1920,1919,1918,1917,1916,1915,1914,1913,1912,1911,1910,1909,1908,1907,1906,1905,1904,1903,1902,1901,1900,1899,1898,1897,1896,1895,1894,1893,1892,1891,1890,1889,1888,1887,1886,1885,1884,1883,1882,1881,1880
Nolan,57,65,60,61,65,64,67,67,71,81,86,89,92,104,122,131,133,146,149,162,175,172,180,182,211,233,235,257,263,260,250,248,257,302,365,388,396,384,379,352,379,400,418,465,521,509,569,572,569,622,595,667,582,606,629,627,668,593,704,612,634,650,621,608,578,576,569,532,518,511,514,477,494,450,452,451,476,458,450,424,436,448,441,384,398,404,419,436,399,400,425,408,450,438,492,486,464,464,479,484,460,457,446,486,490,528,468,466,514,465,458,501,529,509,494,675,491,514,584,531,765,578,668,642,695,NaN,634,811,849,619,744,735,NaN,NaN,NaN,NaN,665,NaN,NaN,824,NaN,NaN,970,NaN